@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda&family=Scheherazade+New&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kaushan+Script&family=Merienda&family=Scheherazade+New&display=swap" rel="stylesheet">


<div class="text-center c-back-img-div">
    <div class="row pe-0">
        <div class="col">
        </div>
        <div class="col">
            <h1 class="display-4 mt-5 c-title-font c-white-font">Welcome to Tasty Tips</h1>
            <p class="c-description-font mb-5" style="text-align: start;">Where we'll be using simple, fresh ingredients and transforming them into sophisticated and elegant meals for the everyday home cook.</p>
            <div class="row" style="--bs-gutter-x: -0.5rem; width:90%; align-self:center">
                <div class="col c-box-recipe">
                    <button class="btn m-2"> <p class="c-grey-font c-title-font h4">Recipe</p></button>
                    <p> You can add new recipes and your experience and view all recipes to try.</p>
                    <button class="btn m-4 c-explore-btn" style="background-color: #ffdfe4;">Explore Recipes</button>
                </div>
                <div class="col c-box-category">
                     <button class="btn m-2 "> <p class="c-grey-font c-title-font h4">Category</p></button>
                    <p> You can add new categories and share with us your country food.</p>
                    <button class="btn btn-warnong m-4 c-explore-btn" style="background-color: #ffffd5;">Explore Categories</button>
                </div>
            </div>
        </div>
    </div>
</div>
