@page
@model IndexModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<script defer src="https://unpkg.com/@Html.Raw('@')alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    async function fetchRecipesJSON() {
      const response = await fetch("@Model.ApiUrl/recipes");
      const recipes = await response.json();
      return recipes;
    }

    async function fetchCategoriesJSON() {
        const response = await fetch("@Model.ApiUrl/categories");
        const categories = await response.json();
        categories.sort();
        return categories;
    }

    function pickRecipeCategories(recipeCategories, categories) {
        let newRecipeCategories=[];
        for (let i = 0; i < recipeCategories.length; i++) {
            if (recipeCategories[i] == true) {
                newRecipeCategories.push(categories[i]);
            }
        }
        return newRecipeCategories;
    }

    async function addRecipe(newRecipe, imageBase64Stringsep,categories) {
        var selectedFile = document.getElementById('newImg').files[0];
        fileName = document.querySelector('#newImg').value;
        extension = fileName.split('.').pop();
        srcData = imageBase64Stringsep;
        var imagePath = `${newRecipe.id}.${extension}`;

        const newRecipeCategories = pickRecipeCategories(newRecipe.categories, categories);

        // New Recipe object that will be added to recipe list
        newRecipe = {
            "id": newRecipe.id,
            "title": newRecipe.title,
            "imagepath": `/RecipesImages/${imagePath}`,
            "ingredients": newRecipe.ingredients,
            "instructions": newRecipe.instructions,
            "categories": newRecipeCategories
        }

        // Make add recipe request
        let response = await fetch("@Model.ApiUrl/recipe", {
            method: "POST",
            body: JSON.stringify(newRecipe),
            headers: {
                'Content-Type': 'application/json;',
            }
        });

        // Call SaveImageToFolder method with POST request
        var parameter = { Base64String: `${srcData}`, FileName: `${imagePath}`};
        response = await fetch(`?handler=SaveImageToFolder`, {
            method: "POST",
            headers: {
                "Access-Control-Allow-Origin": "*",
                "RequestVerificationToken": `@token`, 'Content-Type': 'application/json;'
            },
            body: JSON.stringify(parameter),
        });
    }

    function imageViewer() {
        return {
            imgUrl: '',

            imageBase64Stringsep: '',

            fileChosen(event) {
                this.fileToDataUrl(event, (src1, src2) => { this.imgUrl = src1; this.imageBase64Stringsep = src2; })
            },

            fileToDataUrl(event, callback) {
            if (!event.target.files.length) return

            let file = event.target.files[0],
                reader = new FileReader()

            reader.readAsDataURL(file)
                reader.onload = e => {
                    base64String = reader.result.replace("data:", "")
                        .replace(/^.+,/, "");
                    callback(e.target.result, base64String)
                };
            },
        }
    }
</script>

<section x-data="{recipes: [],categories:[], numberOfPages:0, recipesPerPage:3}" x-init="recipes= await fetchRecipesJSON();categories=await fetchCategoriesJSON() ;recipesPerPage=3; console.log(recipes)  ; numberOfPages=Math.ceil(recipes.length/recipesPerPage)">
    <div class="text-center c-back-img-div" id="section1">
        <div class="row pe-0">
            <div class="col"></div>
            <div class="col">
                <h1 class="display-4 mt-5 c-title-font c-white-font">Welcome to Tasty Tips</h1>
                <p class="c-description-font mb-5" style="text-align: start; font-size:120%;">Where we'll be using simple, fresh ingredients and transforming them into sophisticated and elegant meals for the everyday home cook.</p>
                <div class="row" style="--bs-gutter-x: -0.5rem; width:90%; align-self:center">
                    <div class="col c-box-recipe">
                        <button class="btn m-2">
                            <p class="c-grey-font c-title-font h4">Recipe</p>
                        </button>
                        <p class="c-description-font"> You can add new recipes and your experience and view all recipes to try.</p>
                        <button class="btn m-4 c-explore-btn" style="background-color: #ffdfe4;" href="#RecipeSection" x-on:click="window.location.hash = '#section2';"> Explore Recipes </button>
                    </div>
                    <div class="col c-box-category">
                        <button class="btn m-2 ">
                            <p class="c-grey-font c-title-font h4">Category</p>
                        </button>
                        <p class="c-description-font"> You can add new categories and share with us your country food. </p>
                        <button class="btn btn-warnong m-4 c-explore-btn" style="background-color: #ffffd5;">Explore Categories</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-recipe-background" id="section2">
        <div style="text-align:end" class="p-3 pb-0" href="#section1" x-on:click="window.location.hash = '#section1';">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16" style="cursor:pointer">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
        </div>
        <h1 class="c-title-font h1 mb-4" style="text-align:center; color:white; font-size:60px;">
            Recipes
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="color:yellow; cursor:pointer">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </h1>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <template x-for="i in numberOfPages">
                    <div :class="i==1? `carousel-item  active`:`carousel-item`" style="padding-left:13%; padding-right:8%">
                        <div class="row">
                            <template x-for="(recipe, index) in recipes" :key="index">
                                <template x-if="(index+1 <= i*recipesPerPage && index+1>(i-1)*recipesPerPage )">
                                    <div class="col-4 p-3">
                                        <div class="card c-card-div shadow">
                                            <div class="c-img-div">
                                                <img x-bind:src="recipe.imagepath" class="card-img-top c-card-img" alt="..." width="100" height="100">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title c-font-color" x-text="recipe.title"></h5>
                                                <div class="c-categories-container-recipe my-4">
                                                    <div class="c-categories-container-recipe my-4">
                                                        <template x-for="category in recipe.categories">
                                                            <button class="c-category-btn mx-1" x-text="category" disabled></button>
                                                        </template>
                                                    </div>
                                                </div>
                                                <a class="c-details-btn btn " asp-page="RecipeDetails">DETAILS</a>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="width: 19%;">
                <span class="carousel-control-prev-icon" width="60" height="60" aria-hidden="true" style="width: 4rem;height: 4rem;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="width: 19%;">
                <span class="carousel-control-next-icon" aria-hidden="true" style="width: 4rem; height: 4rem;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="c-recipe-background" id="section3">
        <h1 class="c-title-font c-form-title" style="font-family: 'El Messiri', sans-serif;">
            Add Recipe
        </h1>
        <div class="c-add-recipe-form c-form-div" x-data="imageViewer()">
            <div class="p-5 pt-4" x-data="{newRecipe: {id: '@Guid.NewGuid()',title: '',ingredients: [''],instructions: [''],categories: []},}">
                <form>
                    <div style="float: right;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </div>
                    <div class="">
                        <div class="">
                            <label class="col-form-label">Title</label>
                        </div>
                        <div class="c-title-input">
                            <input type="text" class="form-control" name="title" placeholder="Recipe title" x-model="newRecipe.title" required />
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col me-3">
                            <div class="row">
                                <label class="col-auto">Ingredients</label>
                                <div class="col-auto px-0" @@click="newRecipe.ingredients.push('')" style="cursor:pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </div>
                            </div>
                            <template x-for=" (ingredient,index) in newRecipe.ingredients">
                                <div class="input-group my-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Recipe ingredient"
                                           aria-label="Recipe ingredient"
                                           aria-describedby="button-addon2"
                                           x-model="newRecipe.ingredients[index]"
                                           required>
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" @@click="newRecipe.ingredients.splice(index,1)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>
                                </div>
                            </template>
                        </div>
                        <div class=" col me-2">
                            <div class="row">
                                <label class="col-auto">Instructions</label>
                                <div class="col-auto px-0" @@click="newRecipe.instructions.push('')" style="cursor:pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                </div>
                            </div>
                            <template x-for=" (instruction,index) in newRecipe.instructions">
                                <div class="input-group my-2" :id="index">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Recipe instruction"
                                           aria-label="Recipe instruction"
                                           aria-describedby="button-addon2"
                                           x-model="newRecipe.instructions[index]"
                                           required>
                                    <button class="btn btn-outline-secondary" type="button" id="delete-i" @@click="newRecipe.instructions.splice(index,1)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="row">
                        <template x-for="(category,index) in categories">
                            <div class="form-group col-6">
                                <input type="checkbox" class="form-check-input" x-model="newRecipe.categories[index]">
                                <label class="form-check-label" x-text="category"></label>
                            </div>
                        </template>
                    </div>
                    <hr />
                    <div class="mt-3">
                        <template x-if="imgUrl">
                            <img :src="imgUrl"
                                 class="object-cover rounded border border-gray-200"
                                 style="width: 100px; height: 100px;">
                        </template>
                        <template x-if="!imgUrl">
                            <div class="border rounded border-gray-200 bg-secondary"
                                 style="width: 100px; height: 100px;"></div>
                        </template>
                        <div class="col-auto">
                            <input class="mt-2" type="file" x-on:change="fileChosen" id="newImg">
                        </div>
                    </div>
                    <div>
                        <div class="row " style="float:right">
                            <div class="col">
                                <button class="btn btn-secondary"> Cancel</button>
                            </div>
                            <div class="col">
                                <button type="button" x-on:click=" addRecipe(newRecipe,imageBase64Stringsep,categories)" class="btn" style="background-color: #d560e9">Submit </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>